.fundoCadastro {
    background-image: url("https://ik.imagekit.io/zddqh4rhi/feche-o-broto-solo.jpg?updatedAt=1753643280766");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.75);
}